{% extends "base.html" %}
{% block content %}
    <div id="login-content">
        {% if not current_user.is_authenticated %}
            <div class="sky-form-wrapper">

                <div class="sky-message">
                    {% if session.login_message %}
                        {% for line in session.pop("login_message") %}
                            <p>{{ line }}</p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="sky-title">Login</div>

                <form class="sky-form"
                      method="post"
                      action="{{ url_for('auth.login') }}"
                      novalidate>

                    {{ login_form.csrf_token }}

                    <fieldset class="sky-fieldset">
                        {{ login_form.email(size=20, placeholder=" ") }}
                        {{ login_form.email.label }}
                        <ul class="form-errors">
                            {% if login_form.email.errors %}
                                {% for error in login_form.email.errors %}<li>{{ error }}</li>{% endfor %}
                            {% endif %}
                        </ul>
                    </fieldset>

                    <fieldset class="sky-fieldset">
                        {{ login_form.password(size=20, placeholder=" ") }}
                        {{ login_form.password.label }}
                        <ul class="form-errors">
                            {% if login_form.password.errors %}
                                {% for error in login_form.password.errors %}<li>{{ error }}</li>{% endfor %}
                            {% endif %}
                        </ul>
                    </fieldset>

                    <fieldset class="sky-fieldset">
                        {{ login_form.remember_me() }}
                        {{ login_form.remember_me.label }}
                    </fieldset>

                    <input class="sky-btn-submit" type="submit" value="Login" />

                </form>

                <div id="login-signup-link">
                    No account yet? <a href="{{ url_for('auth.register') }}">Sign up</a>
                </div>
            </div>

        {% else %}
            <!-- Sanity check - unauthenticated user should not be here -->
            Already logged in! Hi {{ current_user.username }}!
        {% endif %}

    </div>
{% endblock %}
