{% extends "base.html" %}

{% block style %}<link rel="stylesheet"
      href="{{ url_for('static', filename='css/auth.css')}}"/>{% endblock %}

{% block content %}
    <div id="register-content">
        <div class="auth-form-wrapper">

            <div class="title">Register</div>

            <form class="auth-form"
                  method="post"
                  action="{{ url_for('auth.register') }}"
                  novalidate>

                {{ register_form.csrf_token }}

                <fieldset>
                    {{ register_form.email(size=20, placeholder=" ") }}
                    {{ register_form.email.label }}
                    <ul class="form-errors">
                        {% if register_form.email.errors %}
                            {% for error in register_form.email.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                    </ul>
                </fieldset>

                <fieldset>
                    {{ register_form.username(size=20, placeholder=" ") }}
                    {{ register_form.username.label }}
                    <ul class="form-errors">
                        {% if register_form.username.errors %}
                            {% for error in register_form.username.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                    </ul>
                </fieldset>

                <fieldset>
                    {{ register_form.password(size=20, placeholder=" ") }}
                    {{ register_form.password.label }}
                    <ul class="form-errors">
                        {% if register_form.password.errors %}
                            {% for error in register_form.password.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                    </ul>
                </fieldset>

                <fieldset>
                    {{ register_form.confirm(size=20, placeholder=" ") }}
                    {{ register_form.confirm.label }}
                    <ul class="form-errors">
                        {% if register_form.confirm.errors %}
                            {% for error in register_form.confirm.errors %}<li>{{ error }}</li>{% endfor %}
                        {% endif %}
                    </ul>
                </fieldset>

                <input class="submit" type="submit" value="Register" />

            </form>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/common/form_validation.js') }}"></script>
{% endblock %}
