{% extends "base.html" %}

{% block style %}<link rel="stylesheet"
      href="{{ url_for('static', filename='css/project.css')}}"/>{% endblock %}

{% block content %}
    {% if owned_projects %}
        {% for project in owned_projects %}
            <div>
                <p>id: {{ project.id }}</p>
                <p>name: {{ project.name }}</p>
                <p>created_at: {{ project.created_at }}</p>
                <p>creator_id: {{ project.owner_id }}</p>
                <a href="{{ url_for('project.project', id=project.id) }}">link</a>
            </div>
        {% endfor %}
    {% else %}
        <div>No created projects.</div>
    {% endif %}
{% endblock %}
