{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/project_browser.css')}}"/>
{% endblock %}

{% block content %}
    <div class="projects-list">
        Recent projects:
        {% if recent_projects %}
            {% for project in recent_projects %}
                <div>
                    <p>id: {{ project.id }}</p>
                    <p>name: {{ project.name }}</p>
                    <p>created_at: {{ project.created_at }}</p>
                    <p>owner_id: {{ project.owner_id }}</p>
                    <a href="{{ url_for('project.project', project_id=project.id) }}">link</a>
                </div>
            {% endfor %}
        {% else %}
            <div>No projects.</div>
        {% endif %}
    </div>
    <div class="projects-list">
        Owned projects:
        {% if owned_projects %}
            {% for project in owned_projects %}
                <div>
                    <p>id: {{ project.id }}</p>
                    <p>name: {{ project.name }}</p>
                    <p>created_at: {{ project.created_at }}</p>
                    <p>owner_id: {{ project.owner_id }}</p>
                    <a href="{{ url_for('project.project', project_id=project.id) }}">link</a>
                </div>
            {% endfor %}
        {% else %}
            <div>No owned projects.</div>
        {% endif %}
    </div>
    <div class="projects-list">

        Projects:
        {% if projects %}
            {% for project in projects %}
                <div>
                    <p>id: {{ project.id }}</p>
                    <p>name: {{ project.name }}</p>
                    <p>created_at: {{ project.created_at }}</p>
                    <p>owner_id: {{ project.owner_id }}</p>
                    <a href="{{ url_for('project.project', project_id=project.id) }}">link</a>
                </div>
            {% endfor %}
        {% else %}
            <div>No projects.</div>
        {% endif %}
    </div>
{% endblock %}
