/* Styles for auth pages */
:root {
  --sky-white: #ffffff;
  --sky-yellow: #f3ed77;
  --sky-orange: #e7c38d;
  --sky-light-blue: #6f79ff;
  --sky-dark-blue: #4854ff;

  --sky-font-size: 24px;
  --sky-small-font-size: calc(
    max(var(--sky-font-size) * 0.7, min(var(--sky-font-size), 22px))
  );
}

/* Hack for annoying autofill styles on chrome */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s, color 0s;
  transition-delay: 999999999s;
}

/* Standard form */

.sky-form-wrapper {
  min-width: 300px;
  max-width: 300px;
}

.sky-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Form message */

.sky-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--sky-yellow);
  font-size: var(--sky-small-font-size);
}

.sky-message p {
  margin: 0;
}

/* Title */
.sky-title {
  font-size: calc(var(--sky-font-size) * 2.2);
  font-weight: bold;
  margin: 15px;
}

/* Standard form field */

.sky-fieldset {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
}

.sky-fieldset input,
.sky-fieldset label {
  padding: 0;
  padding-top: calc(var(--sky-font-size) * 0.7);
  font-size: var(--sky-font-size);
  color: var(--sky-white);
}

.sky-fieldset input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--sky-white);
  background-color: unset;
  outline: none;
}

.sky-fieldset label {
  position: absolute;
  left: 0;
  top: 0;

  transform-origin: 0 0;
  transition: transform 0.1s ease-in-out;
}

.sky-fieldset input:not([type="checkbox"]):focus + label,
.sky-fieldset input:not([type="checkbox"]):not(:placeholder-shown) + label,
.sky-fieldset input:not([type="checkbox"]):hover + label {
  transform: translateY(calc(var(--sky-font-size) * -0.7)) scale(0.8);
}

/* Checkbox field */

.sky-fieldset input[type="checkbox"],
.sky-fieldset input[type="checkbox"] + label {
  padding: 0px;
  margin: 0px;
}

.sky-fieldset input[type="checkbox"] {
  appearance: none;
  border: 2px solid var(--sky-white);
  width: calc(var(--sky-font-size) + 3px);
  height: calc(var(--sky-font-size) + 3px);
  transition: background-color 0.1s ease;
}

.sky-fieldset input[type="checkbox"]:hover,
.sky-fieldset label:hover ~ input[type="checkbox"] {
  background-color: var(--sky-dark-blue);
}

.sky-fieldset input[type="checkbox"]:checked {
  background-image: url(../icons/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sky-fieldset input[type="checkbox"] + label {
  margin-left: calc(var(--sky-font-size) + 15px);
  margin-top: 1.5px;
}

/* Validation errors */

.sky-fieldset .form-errors {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--sky-yellow);
  font-size: var(--sky-small-font-size);
}

/* Submit button */

.sky-btn-submit {
  padding-top: calc(var(--sky-font-size) * 0.5);
  padding-bottom: calc(var(--sky-font-size) * 0.5);
  border: none;
  background-color: var(--sky-light-blue);
  transition: background-color 0.1s ease;
  font-size: var(--sky-font-size);
  color: var(--sky-white);
}

.sky-btn-submit:hover {
  background-color: var(--sky-dark-blue);
}

/* Sign up link in login form */

#login-signup-link {
  font-size: var(--sky-small-font-size);
  margin-top: 10px;
}

#login-signup-link a,
#login-signup-link a:visited {
  text-decoration: none;
  color: var(--sky-dark-blue);
}

#login-signup-link a:hover {
  color: var(--sky-orange);
}

#login-signup-link a:active {
  color: var(--sky-light-blue);
}

/* Content centering */

#login-content,
#register-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
